<div class="card">
    <form #ajouterPersonnelform="ngForm">
    <h2>Ajouter un Personnel</h2>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label>Nom</label>
          <input ngModel type="text" name="nom">
        </div>
      </div>
  
      <div class="col">
        <div class="form-group">
          <label>Prenom</label>
          <input ngModel type="text" name="prenom">
        </div>
      </div>
  
      <div class="col">
        <div class="form-group">
          <label>Email</label>
          <input  ngModel type="text" name="email">
        </div>
      </div>
  
      <div class="col">
        <div class="form-group">
          <label>Salaire</label>
          <input ngModel type="text" name="salaire">
        </div>
      </div>
  
      <div class="col">
        <div class="form-group">
          <label>Post</label>
<input ngModel type="text" name="post">       </div>
      </div>
  
      <div class="col">
        <input (click)="ajouterPersonnel(ajouterPersonnelform)" type="submit" value="Ajouter">
      </div>
    </div>
</form>
</div>